/* src/styles/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.ant-drawer-header{
  background: #119702;
  color: white !important;
}
.ant-drawer-header-title{
  justify-content: end !important;
}
.ant-drawer-title{
  color: white !important;
}
.ant-drawer-body{
  padding: 0 !important;
}
